.shadowForm {
    border-radius: 18px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  7px 7px 32px #c9c9c9,
             -7px -7px 32px #ffffff;
    padding: 2rem;
}
.buttonsCtc {
    display: flex;
    justify-content: center;
}