footer {
    @include sizes(100%,100px);
    background-color: $cafeBg;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        &:hover{
            background-color:$hoverBtn;
            border:$hoverBtn;
        }
    }
}